[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
aiohttp = "<4.0"
octomachinery = "*"
thoth-common = "*"
argo-workflows-sdk = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
