[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
aiohttp = "<4.0"
octomachinery = "*"
gidgethub = "==4.2.0"
pyjwt = "==1.7.1"
thoth-common = "*"
thoth-report-processing = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
